.pos .right-content .control-button {
    background: #e6e6e6;
    color: #02509a;
        /* box-shadow: 1px 1px 6px 0px #000000; */
        -webkit-box-shadow: 1px 1px 6px 0px #000000;
        -moz-box-shadow: 1px 1px 6px 0px #000000;
        /* text-shadow: 1px 1px 6px #000000; */
        /* text-decoration: none; */
        display: inline-block;
        cursor: pointer;
}
.pos .right-content .control-button {
    line-height: 40px;
    margin-bottom: 1px;
    height: 65px;
    max-width: 270px;
    width: 100%;
    text-align: left;
    padding-left: 10px;
}

.pos .client-name{
    padding: 30px 5px;
}

.pos .pin-container{
    padding: 10px 30px;
}

.pos .pin-container > input{
    padding: 20px;
    font-size: 30px !important;
    text-align: center;
}

.pos td.error{
    box-shadow: 0px 0px 0px 3px #ED9398 !important;
    border-color: #ED9398 !important;
}

.pos .payment-container{
    /*display: inline-grid;*/
    padding: 10px;
}

.pos .payment-button{
    width: 330px !important;
    height: 90px !important;
    line-height: 90px !important;
    font-size: 20px !important;
    text-transform: uppercase !important;
    font-weight: 900 !important;
    color: #85898a !important;
    border-radius: 1px;
    border: 2px solid;
}

.pos .paymentlines-container .message{
    font-size: 16px;
}

.pos .payment-screen .button,
.pos .screen .top-content .button{
    width: auto;
    height: 60px !important;
    line-height: 60px !important;
    margin: 0 !important;
    border-radius: 5px !important;
}

.pos .c-name{
    font-size: 16px !important;
}

.pos .payment-numpad{
    display: inline-flex;
}